
body {
  margin: 0;
  overflow: hidden;
}

#Profile {
  position: absolute;
  margin: auto;
  top: 0; right: 0; bottom: 0; left: 0;
  background:  #dad0cf;
  opacity: .4;
  /*overflow: hidden;*/
}
#Profile img
{
  width: 70%
}

span 
{
  position: absolute;
  bottom: 50%;
  left: 63%;
  text-align: center;
  font-family: 'Oswald';
  color: #694646;
  font-size: 100px;
}
/*Media Query*/
@media(max-width: 768px)
{
/*  span
  {
    display: none;
  }
  #Profile img
  {
    display: none;
  }*/
}